<!DOCTYPE html>
<html lang="en">
<head>
    <title>HOME POKEMON</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='1.css') }}"
    />
    <link
    
    
    />
</head>
<body>
    <center>
        <img
            src="http://pngimg.com/uploads/pokemon_logo/pokemon_logo_PNG5.png"
        />
        <form action="http://localhost:5000/hasil" method="post">
            <p>
                <input name="nama" type="text" placeholder="Input Pokemon name...."/>
            </p>
            <p>
                <input type="submit" class="btn btn-warning" value="Search"/>
            </p>
        </form>
    </center>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>