<!DOCTYPE html>
<html lang="en">
<head>
    <title>RESULT</title>
    <link
        rel="stylesheet"
        type="text/css"
        href="{{ url_for('static', filename='1.css') }}"
    />
    <link
    
    
    />
</head>
<body>
    <center>
        <h1>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png" style="width:20%; height:auto;"/>
        </h1>
        <h1>
            <center>
                {{x[0]}}
            </center>
        </h1>
        <h2>
            <center>
                <img src="{{x[1]}}" alt="{{x[0]}}">
            </center>
        </h2>
        <h2>
            <center>
                Id: {{x[2]}}<br>
                Weight: {{x[3]}}<br>
                Height: {{x[4]}}<br>
            </center>
        </h2>
        <center>
            <form action="http://localhost:5000/">
                <p> 
                <input type="submit" value="Back">
                </p>
            </form>
        

    </center>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>